---
import Tabs from "./Tabs.astro";
import TechTag from "./TechTag.astro";

const skills = {
  web: [
    "html",
    "css",
    "javascript",
    "php",
    "react",
    "nextjs",
    "express",
    "threejs",
    "wordpress",
    "symfony",
    "astro",
  ],
  design: ["photoshop", "illustrator", "c4d", "figma"],
  motionDesign: ["aftereffect", "premierepro", "davinci"],
};
---

<section id="apropos" class="container">
  <div class="row">
    <div class="ap-col-1">
      <img src="/assets/img/moi.png" alt="Photo de moi" class="photo" />
    </div>
    <div class="ap-col-2">
      <h2>Qui suis‑je ?</h2>
      <p>
        Je m'appelle Florian Amiot, j'ai 22ans et je suis tout juste diplômé
        d'un B.U.T. MMI (Métiers du Multimédia et d'Internet), spécialité
        développement web. J'ai commencé très tôt à m'intéresser au design, et
        plus récemment, au développement web. Dès mes 12ans je m'amusais à créer
        divers logos et bannières pour mes amis ou 'clients', mêlant 2D et 3D.
        La formation MMI m'a permi de découvrir le développement web, ce qui m'a
        fait changer la vision que j'avais de mon avenir professionnel. Ayant de
        bonnes bases en design, j'ai de solides bases dans le webdesign, et donc
        le front-end. Je porte également beaucoup d'intérêt pour le
        développement back-end, dans lequel je ne cesse de me perfectionner.
      </p>
      <Tabs>
        <div class="tabc active" id="comp">
          <ul>
            <li>
              <span>Développement Web</span><br />
              {skills.web.map((skill) => <TechTag slug={skill} size={16} />)}
            </li>
            <li>
              <span>Création graphique</span><br />
              {skills.design.map((skill) => <TechTag slug={skill} size={16} />)}
            </li>
            <li>
              <span>Audiovisuel</span><br />
              {
                skills.motionDesign.map((skill) => (
                  <TechTag slug={skill} size={16} />
                ))
              }
            </li>
          </ul>
        </div>
        <div class="tabc" id="parcours">
          <ul>
            <li><span>2022 - 2025</span><br />B.U.T. MMI</li>
            <li><span>2020 - 2021</span><br />LEA Anglais Japonais</li>
            <li>
              <span>2017 - 2020</span><br />BAC STI2D Architecture et
              Construction
            </li>
          </ul>
        </div>
        <div class="tabc" id="xp">
          <ul>
            <li>
              <span
                >Stage au sein du service communication du Taillan-Médoc</span
              ><br />
              Stage au cours duquel j'ai aidé à la refonte du site internet de la
              ville.
            </li>
            <li>
              <span>Graphiste Freelance</span><br />Ce n'était pas vraiment une
              activité professionnelle, mais plus un loisir.
            </li>
            <li>
              <span>Stage à l'Eypicerie</span><br />Stage en association
            </li>
          </ul>
        </div>
      </Tabs>
    </div>
  </div>
</section>
