---
import Tabs from "./Tabs.astro";
import TechTag from "./TechTag.astro";

const skills = {
  web: [
    "html",
    "css",
    "javascript",
    "php",
    "react",
    "nextjs",
    "express",
    "threejs",
    "wordpress",
    "symfony",
    "astro",
  ],
  design: ["photoshop", "illustrator", "c4d", "figma"],
  motionDesign: ["aftereffect", "premierepro", "davinci"],
};
---

<section id="apropos" class="container">
  <div class="row">
    <div class="ap-col-1">
      <img src="/assets/img/moi.png" alt="Photo de moi" class="photo" />
    </div>
    <div class="ap-col-2">
      <h2>Qui suis‑je ?</h2>
      <p>
        Je m'appelle Florian Amiot, j'ai 22ans et je suis tout juste diplômé
        d'un B.U.T. MMI (Métiers du Multimédia et d'Internet), spécialité
        développement web. J'ai commencé très tôt à m'intéresser au design, et
        plus récemment, au développement web. Dès mes 12ans je m'amusais à créer
        divers logos et bannières pour mes amis ou 'clients', mêlant 2D et 3D.
        La formation MMI m'a permi de découvrir le développement web, ce qui m'a
        fait changer la vision que j'avais de mon avenir professionnel. Ayant de
        bonnes bases en design, j'ai de solides bases dans le webdesign, et donc
        le front-end. Je porte également beaucoup d'intérêt pour le
        développement back-end, dans lequel je ne cesse de me perfectionner.
      </p>
      <Tabs>
        <div class="tabc active" id="comp">
          <ul>
            <li>
              <span>Développement Web</span><br />
              <div class="tag-container">
                {skills.web.map((skill) => <TechTag slug={skill} size={16} />)}
              </div>
            </li>
            <li>
              <span>Création graphique</span><br />
              <div class="tag-container">
                {
                  skills.design.map((skill) => (
                    <TechTag slug={skill} size={16} />
                  ))
                }
              </div>
            </li>
            <li>
              <span>Audiovisuel</span><br />
              <div class="tag-container">
                {
                  skills.motionDesign.map((skill) => (
                    <TechTag slug={skill} size={16} />
                  ))
                }
              </div>
            </li>
          </ul>
        </div><div class="tabc" id="parcours">
          <ul>
            <li>
              <span>2022 - 2025</span><br />B.U.T. MMI (Métiers du Multimédia et
              d'Internet) - Spécialité développement web
            </li>
            <li>
              <span>2020 - 2021</span><br />LEA (Langues Étragères Appliquées)
              Anglais Japonais
            </li>
            <li>
              <span>2017 - 2020</span><br />BAC STI2D Architecture et
              Construction
            </li>
          </ul>
        </div>
        <div class="tabc" id="xp">
          <ul>
            <li>
              <span>Stage au LIAS - Développeur Web</span><br />
              Cette expérience a consisté en la refonte du site de l'ICSC, que vous
              retrouverez plus détaillé en bas.
            </li>
            <li>
              <span>Stage au Taillan-Médoc - Communication</span><br />
              Stage au cours duquel j'ai aidé à la refonte du site internet de la
              ville.
            </li>
            <li>
              <span>Graphiste Freelance</span><br />Ce n'était pas vraiment une
              activité professionnelle, mais plus un loisir.
            </li>
          </ul>
        </div>
      </Tabs>
    </div>
  </div>
</section>

<style>
  #apropos {
    padding: 100px 10vw;
    color: #3610cc;
    width: 100%;
  }

  #apropos h2 {
    margin-bottom: 20px;
    text-align: start;
  }

  .row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .ap-col-1 {
    flex-basis: 35%;
    width: 30vw;
    height: 550px;
  }

  .ap-col-1 .photo {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 30px;
  }

  .ap-col-2 {
    flex-basis: 60%;
    width: 50vw;
  }

  .ap-col-2 p {
    color: #201e29;
  }

  .tabc {
    display: none;
  }

  .tabc.active {
    display: block;
  }

  .tabc ul li {
    font-family: "Exo 2", sans-serif;
    color: #201e29;
    list-style: none;
    margin: 15px 0;
  }

  .tabc ul span {
    color: #3610cc;
    font-weight: 600;
  }
  .tag-container {
    display: flex;
    gap: 0.25rem;
    flex-wrap: wrap;
    margin-block: 0.5rem;
  }

  @media screen and (max-width: 700px) {
    .row {
      flex-direction: column;
      align-items: center;
    }

    .ap-col-1 {
      flex-basis: 50%;
      width: fit-content;
      height: 50vw;
      min-height: 200px;
    }

    .ap-col-2 {
      flex-basis: 80%;
      width: 80vw;
    }

    .ap-col-2 h2 {
      margin-bottom: 10px;
    }

    .ap-col-1 .photo {
      object-fit: cover;
      object-position: bottom;
    }
  }
</style>
