<footer>
  <h2 style="color: white; margin-bottom: 20px">Me contacter</h2>
  <div>
    <div>
      <a href="https://instagram.com/florian.amiot"
        ><img src="./assets/img/medias/instagram.png" alt="Logo Instagram" /></a
      >
      <p>florian.amiot</p>
    </div>
    <div>
      <a href="https://www.linkedin.com/in/florian-amiot-26a812291/"
        ><img src="./assets/img/medias/linkedin.png" alt="Logo Likedin" /></a
      >
      <p>Florian Amiot</p>
    </div>
    <div>
      <a href="https://github.com/Ascenssucreausucre"
        ><img
          src="./assets/img/medias/github.png"
          alt="Logo Github"
          style="filter: invert(100%); -webkit-filter: invert(100%);"
        /></a
      >
      <p>Ascenssucreausucre</p>
    </div>
  </div>
  <div>
    <a href=""><img src="./assets/img/medias/gmail.png" alt="Logo Gmail" /></a>
    <p>amiotflorian33@gmail.com</p>
  </div>
  <a
    href="./ml.html"
    style="
          text-decoration: none;
          color: #e6e6ed;
          margin-left: auto;
          margin-right: auto;
        "
    >Mentions Légales</a
  >
</footer>
