<script>
  const tablinks = document.querySelectorAll(".tab h3");
  const tabcontents = document.querySelectorAll(".tabc");

  function opentab(tabname: string) {
    for (const tablink of tablinks) {
      tablink.classList.remove("active");
    }

    for (const tabcontent of tabcontents) {
      tabcontent.classList.remove("active");
    }

    document.getElementById(tabname).classList.add("active");

    const clickedTabLink = document.querySelector(
      `.tab h3[data-tab="${tabname}"]`
    );
    if (clickedTabLink) {
      clickedTabLink.classList.add("active");
    }
  }

  tablinks.forEach(function (tablink) {
    tablink.addEventListener("click", function () {
      const tabname = tablink.getAttribute("data-tab");
      opentab(tabname);
    });
  });
</script>

<div class="tab">
  <h3 class="active" data-tab="comp">Compétences</h3>
  <h3 data-tab="parcours">Parcours</h3>
  <h3 data-tab="xp">Expériences</h3>
</div>

<slot />

<style>
  .tab {
    display: flex;
    margin: 20px 0 40px;
    gap: clamp(1rem, 5vw, 50px);
    width: 100%;
  }

  .tab h3 {
    font-weight: 600;
    cursor: pointer;
    position: relative;
    color: #494269;
    transition: color 0.25s ease-out;
  }

  .tab h3:hover {
    color: #3610cc;
  }

  .tab h3.active {
    color: #201e29;
    font-weight: 700;
  }

  .tab h3::after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 3px;
    bottom: -5px;
    left: 0;
    background-color: #3610cc;
    transform-origin: bottom left;
    transition: transform 0.25s cubic-bezier(0.5, 0.02, 0.36, 1);
  }

  .tab h3.active::after {
    transform: scaleX(0.8);
    transform-origin: bottom left;
  }
</style>
